.card-container {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(13.125rem, 1fr));
    grid-template-rows: minmax(17.5rem, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    max-width: 87.5rem;
    width: 100%;
    perspective: 125rem;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    aspect-ratio: 1;
    background-color: var(--bg-transparent);
    padding: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: var(--fs-500);
    transform: scale(1);
    box-shadow: var(--shadow-primary);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: width 150ms ease-in-out;
    will-change: transform, width, height;
  
    &:hover,
    &:focus {
      width: 12.5rem;
    }
  
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: var(--bg-image);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: white;
      border-radius: 1rem;
      z-index: -1;
      transform: rotateY(0.5turn);
      backface-visibility: hidden;
    }
  
    img {
    object-fit: cover;
    border-radius: 0.8rem;
    width: 100%;
    aspect-ratio: 1 / 1.2;
  }

  p {
    line-height: 1;
    padding-top: 0.8rem;
    font-size: var(--fs-500);
  }
  }