.card-container {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    max-width: 87.5rem;
    width: 100%;
    perspective: 125rem;
    padding: 0rem 1rem;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 14rem;
    aspect-ratio: 1;
    background-color: var(--bg-transparent);
    padding: 4%;
    border-radius: 1rem;
    cursor: pointer;
    font-size: var(--fs-500);
    transform: scale(1);
    box-shadow: var(--shadow-primary);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 150ms ease-in-out;
    will-change: transform;
  
     @media (hover: hover) and (pointer: fine) {
        &:hover,
        &:focus-visible {
          transform: translateY(-1rem);
        }
      }
  
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: var(--bg-image);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: white;
      border-radius: 1rem;
      border: 0.25rem solid var(--bg-wanted);
      z-index: -1;
      transform: rotateY(0.5turn);
      backface-visibility: hidden;
    }
  
    img {
    object-fit: cover;
    object-position: top;
    border-radius: 0.8rem;
    width: 100%;
    aspect-ratio: 1 / 1.2;
  }

  p {
    line-height: 1;
    padding-top: 4%;
    font-size: var(--fs-500);
  }
  }

  @media screen and (max-width: 1000px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }