.App {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 0.5rem;
  margin: 0 auto;

  &::after {
    content: '';
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0.3rem);
    z-index: -1;
  }
}

#background-video {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }