:root {
  --fs-400: clamp(0.9rem, 0.6rem + 1.6vw, 1.2rem);
  --fs-500: clamp(1rem, 0.6rem + 2.133vw, 1.4rem);
  --fs-600: 1.6rem;
  --fs-700: 2rem;
  --bg-transparent: hsl(0 0% 100% / 0.7);
  --bg-wanted: hsl(23 21% 22% / 1);
  --bg-modal: hsl(23 40% 92% / 1);
  --bg-white: hsl(0 0% 100% / 1);
  --shadow-primary: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }